%footer
  .container
    .row
      .col-md-12
        .copyright
          = "2018-#{Time.current.year} © "
          = link_to 'Translators without Borders', 'https://translatorswithoutborders.org'
