%h1 Forecasting results

%h2 Filter Language Pair:

= simple_form_for @filter, url: forecasting_path, method: :get do
  .row
    .col-md-12
      .form-group
        %label.control-label Language pair
        = select_tag :language_pair, most_translated_language_pair_options_for_select(@filter.language_pair), class: 'form-control'

  %button.btn.btn-primary.top-spaced-2x.bottom-spaced-4x.pull-right= 'Apply language filters'

.forecast-result{ data: { lazy_load_url: result_forecasting_path(source_lang: @filter.source_lang, target_lang: @filter.target_lang) } }
  .top-spaced-4x.text-center Forecast data is being generated, please wait...
  .top-spaced-2x= spinner
