%p.text-danger We are sorry, but we couldn't authenticate you. Please check if you have permissions to access this site and try again.

%p= link_to 'Click here to try again', root_path, class: 'btn btn-primary'
