- if @data.package_status.try(:show_warning)
  %h4.text-danger
    %strong= "WARNING! You have less than 10 000 words remaining in your package. Please contact #{PACKAGE_CONTACT_EMAIL} to renew your subscription."
